<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="%% url_for('static', filename='css/style.css') %%">
<script type="text/javascript" src="%% url_for('static', filename='js/controllers.js') %%"></script>
</head>
<body ng-app="snailMail">

<div id="header">SnailMail</div>

<div id="content">

<div class="popup-container">
<div class="popup">
<% with messages = get_flashed_messages() %>
  <% if messages %>
   <% for message in messages %>
    	<span class="error"> %% message %% </span>
    <% endfor %>
  <% endif %>
<% endwith %>
<form action="/login" method="post">
	<input type="text" name="username" placeholder="Username" />
	<input type="password" name="password" placeholder="Password" />
	<input type="submit" value="Log In" />
	<span style="text-align:center">... or <a href="/signup">sign up</a>.</span>
</form>
</div>
</div>

</div>
</body>
</html>